NODE_ENV=production
API_PORT=3001

ENCRYPTION_KEY=a1b2c3d4e5f60718293a4b5c6d7e8f90112233445566778899aabbccddeeff00

CORS_ORIGINS=https://developer.thesauros.io
PARTNER_API_URL=http://127.0.0.1:3001

DATABASE_URL="postgresql://${{PGUSER}}:${{POSTGRES_PASSWORD}}@${{RAILWAY_PRIVATE_DOMAIN}}:5432/${{PGDATABASE}}"
PGDATABASE="${{POSTGRES_DB}}"
PGHOST="${{RAILWAY_PRIVATE_DOMAIN}}"
PGPASSWORD="${{POSTGRES_PASSWORD}}"
PGPORT="5432"
PGUSER="${{POSTGRES_USER}}"

DB_SYNCHRONIZE=true
DB_SEED=true
DB_SSL=true
DB_LOGGING=false
